[submodule "mailer"]
	path = mailer
	url = https://git.heroku.com/alexcu-dot-me-mailer.git
[submodule "resume"]
	path = resume
	url = git@github.com:alexcu/resume.git
[submodule "blog"]
	path = blog
	url = git@github.com:alexcu/blog.alexcu.me.git
[submodule "stuff"]
	path = stuff
	url = git@github.com:alexcu/stuff.alexcu.me.git
