section article {
  p {
    @include tablet-layout {
      text-align: justify;
    }
    font-weight: $light;
    line-height: $base-line-height;
  }
  p:not(:first-child) {
    margin: 2em 0;
  }
  p:first-child {
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: $regular;
  }
  p a {
    font-weight: $bold;
    color: $medium-blue-color;
    font-style: oblique;
    text-decoration: none;
  }
  p a:hover {
    text-decoration: underline;
  }
}

@include tablet-layout {
  section > article {
    width: 66%;
  }
  section > article + aside {
    width: 30%;
  }
}