form.contact {
  display: flex;
  flex-wrap: wrap;
  input, label, textarea {
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.5em;
  }
  label, textarea {
    padding-top: 0.5em;
  }
  input, textarea {
    border: 1px solid $medium-gray-color;
    outline: none;
    &:hover, &:focus {
      border-color: darken($medium-gray-color, 20%);
    }
    &:focus {
      border-color: $medium-blue-color;
    }
  }
  label {
    text-align: center;
    color: $dark-gray-color;
  }
  input {
    display: block;
    width: 100%;
  }
  label {
    display: none;
  }
  @include medium-layout {
    input, label {
      display: inline-block;
    }
    input {
      flex: 4;
      width: auto;
    }
  }
  input, label {
    height: 2.5em;
  }
  textarea {
    display: block;
    width: 100%;
    resize: none;
  }
  button {
    margin-left: auto;
    -webkit-appearance: none;
    background: none;
    border: none;
    color: darken($medium-gray-color, 20%);
    &:hover {
      color: $medium-blue-color;
    }
  }
}