form.contact {
  display: flex;
  flex-wrap: wrap;
  input, label, textarea {
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.5em;
  }
  label, textarea {
    padding-top: 0.5em;
  }
  input, textarea {
    border: 1px solid $medium-gray-color;
    outline: none;
    &[data-dirty]:required:invalid {
      border-color: #e0423d;
    }
    &:hover, &:focus {
      border-color: darken($medium-gray-color, 20%);
    }
    &:focus {
      border-color: $medium-blue-color;
    }
  }
  label {
    text-align: center;
    color: $dark-gray-color;
  }
  input, progress {
    display: block;
    width: 100%;
  }
  label {
    display: none;
  }
  progress {
    visibility: hidden;
  }
  @include medium-layout {
    input:not([type="submit"]), label {
      display: inline-block;
    }
    input:not([type="submit"]) {
      flex: 4;
      width: auto;
    }
  }
  input, label {
    height: 2.5em;
  }
  textarea {
    display: block;
    width: 100%;
    resize: none;
  }
  .response {
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
    a {
      color: $medium-blue-color;
      font-weight: $medium;
      font-style: oblique;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include medium-layout {
    input[type='submit'] {
      margin-left: auto;
      width: auto;
      -webkit-appearance: none;
      background: none;
      border: none;
      color: darken($medium-gray-color, 20%);
      &:hover {
        color: $medium-blue-color;
      }
    }
  }
}