dialog.modal.gallery {
  article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
      flex: 1.5;
      display: flex;
      align-content: flex-end;
      flex-wrap: wrap;
      h1, p {
        width: 100%;
        margin: 0px;
        display: block;
        text-align: center;
      }
    }
    ul {
      flex: 4;
      // // grab
      // cursor: grab;
      // cursor: -webkit-grab;
      // &:active {
      //   cursor: grabbing;
      //   cursor: -webkit-grabbing;
      // }
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-padding-start: 0px;
      list-style: none;
      // Add momentum scrolling on mobile
      -webkit-overflow-scrolling: touch;
      // Hide scrollbar
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 10em;
        display: inline-block;
        width: 100%;
      }
      li, li p {
        text-align: center;
      }
      li p, li img {
        margin: 0px;
      }
      li img {
        width: 100%;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        margin-bottom: 1em;
      }
      li p {
        font-size: 0.9em;
        font-style: oblique;
      }
      li:last-child {
        margin-right: 0px;
      }
      // increase to 25% left when tablet
      @include tablet-layout {
        li {
          width: 50%;
        }
        li:first-child {
          margin-left: 25%;
        }
        li:last-child {
          margin-right: 25%;
        }
      }
    }
    footer {
      width: 100%;
      flex: 0.8;
      a {
        color: $medium-blue-color;
        text-align: center;
        display: block;
        text-decoration: none;
        font-size: 1.3em;
        font-weight: $medium;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}