body > header {
  @include responsive();
  @include text-shadow(#fff);

  margin-top: 8em;
  margin-bottom: 3em;

  * {
    margin: 0px;
    padding: 0px;
    line-height: 100%;
  }
  h1 {
    font-weight: $light;
    color: $dark-gray-color;

    font-size: 5em;
    letter-spacing: -7px;

    margin-bottom: 5px;
  }
  h2 {
    font-weight: $medium;
    font-style: italic;
    color: $medium-blue-color;
    letter-spacing: -1px;
  }
  ul {
    $square-size: 3em;
    $hover-height: 0.5em;

    margin-top: 3em;
    list-style: none;
    -webkit-padding-start: 0px;
    display: flex;
    align-items: flex-end;
    height: $square-size + $hover-height;

    li {
      display: inline-block;
      width: $square-size;
      height: $square-size;
      background-color: $dark-gray-color;
      border-radius: 0.8em;
      box-shadow:  0 1px 0 #fff;

      transition: margin-bottom 0.25s ease;
    }
    li:hover {
      margin-bottom: $hover-height;
    }
    li:not(:last-child) {
      margin-right: 1em;
    }
    li:hover {
      opacity: 0.8;
    }
    li a {
      width: 100%;
      height: 100%;
      display: block;
      background-position: center;
      background-size: 65%;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }
    // Logos
    li.linkedin     a { @include linkedin-logo();     }
    li.github       a { @include github-logo();       }
    li.scriptogram  a { @include scriptogram-logo();  }
    li.twitter      a { @include twitter-logo();      }
    li.resume       a { @include resume-logo();       }
  }

  // Mobile
  @media only screen and (max-width: 768px) {
    padding-top: 5em;
    h1, h2 {
      letter-spacing: -1px;
    }
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.2em;
    }
  }
}