body.modal {
  overflow: hidden;
}

dialog.modal {
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255,255,255,0.95);
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease;
  &:target {
    opacity: 1;
    z-index: 1;
  }
  button.close {
    position: absolute;
    border: none;
    right: 0px;

    z-index: 4;

    -webkit-appearance: none;
    background-color: transparent;

    font-size: 2em;

    height: 3em;
    width: 3em;

    @include mobile-layout-only {
      width: 1.5em;
      height: 1.5em;
    }

    color: $dark-gray-color;
  }
}