ul.portfolio > li {
  width: 13.5em;
  display: flex;

  figure figcaption {
    white-space: nowrap;
  }
  figure img {
    width: 70%;
    float: right;
    margin-bottom: 1em;
  }
  @include mobile-layout-only {
    align-self: flex-start;
    figure figcaption {
      white-space: normal;
    }
  }
  @include medium-layout {
    width: 12.5em;
    // fix spacing before 3n-1'th last child
    &:nth-child(3n-1):last-child {
      margin-right: auto;
      margin-left: 4.5%
    }
  }
  @include large-layout {
    width: 15em;
  }
  a {
    color: #000;
    align-self: flex-end;
  }
}