ul.portfolio {
  $normal-width: 13.5em;
  $large-width: 15em;
  $medium-width: 12.5em;
  li {
    width: $normal-width;
    height: $normal-width;
    display: flex;
    position: relative;
    @include mobile-layout-only {
      align-self: flex-start;
      figure figcaption {
        white-space: normal;
      }
    }
    @include medium-layout {
      width: $medium-width;
      height: $medium-width;
      // fix spacing before 3n-1'th last child
      &:nth-child(3n-1):last-child {
        margin-right: auto;
        margin-left: 4.5%
      }
    }
    @include large-layout {
      width: $large-width;
      height: $large-width;
    }
    a {
      color: #000;
      text-decoration: none;
      text-indent: initial;
      font-style: oblique;
      font-size: 0.95em;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center 20%;
      background-size: 75%;
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-weight: 300;
      padding-bottom: 1em;
      @include mobile-layout-only {
        background-size: 90%;
        font-size: 1em;
        font-weight: initial;
      }
      margin-left: auto;
      margin-right: auto;
      &::before {
        content: "";
        margin-left: auto;
      }
      &::after {
        content: "";
        margin-right: auto;
      }
    }
  }
}
