section#rocky {
  align-items: flex-start;

  background-image: url('/images/rocky.png');
  background-repeat: no-repeat;
  background-position: left bottom;

  height: 700px;

  figure {
    margin-left: auto;
  }

  .rockytext {
    font-weight: $thin;
    white-space: nowrap;
    letter-spacing: -1px;
    font-style: oblique;
    font-size: 5em;
  }

  // fix rocky background for tablet
  @include tablet-layout-only {
    background-size: 40%;
    height: 370px;
    .rockytext {
      font-size: 4.5em;
    }
  }
  // fix rocky background for mobile
  @include mobile-layout-only {
    background-size: 50%;
    background-position: center bottom;
    height: 400px;
    .rockytext {
      font-size: 3em;
    }
    figure {
      margin-top: -170px;
    }
  }
}