section#rocky {
  align-items: flex-start;

  background-image: url('/images/rocky.jpg');
  background-repeat: no-repeat;

  height: 600px;

  figure {
    margin-left: auto;
  }

  .rockytext {
    font-weight: $thin;
    white-space: nowrap;
    letter-spacing: -1px;
    font-style: oblique;
    font-size: 5em;
  }

  // fix rocky background for mobile
  @include mobile-layout-only {
    background-size: contain;
    background-position: -125px bottom;
    height: 250px;
    .rockytext {
      font-size: 3em;
    }
    figure {
      margin-top: -33%;
    }
  }
  @include tablet-layout-only {
    height: 290px;
    .rockytext {
      font-size: 4.5em;
    }
    $side-width: calculate-side-width($responsive-width-tablet);
    background-position: $side-width bottom;
    background-size: 60%;
  }
  @include medium-layout-only {
    $side-width: calculate-side-width($responsive-width-medium);
    background-position: $side-width bottom;
    background-size: 80%;
    height: 450px;
  }
  @include large-layout {
    $side-width: calculate-side-width($responsive-width-large - 250px);
    background-position: $side-width bottom;
    background-size: contain;
    height: 460px;
  }
}