ul.technologies {
  li {
    // 4 on one line
    width: 10em;
    height: 10em;

    a {
      // Growing logo icons
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      // Hide actual text
      text-indent: -9999px;
    }
  }
}

@include mobile-layout-only {
  // Remove sublabel
  section#technologies h2 {
    display: none;
  }
  // Display the a label instead
  ul.technologies li {
    height: 12em;
    margin-bottom: 3em;
    a {
      text-indent: initial;
      font-style: oblique;
      font-weight: medium;
      font-size: 1em;
      text-align: center;
      color: #000;
      text-decoration: none;
      padding-top: 125%;
      height: auto;
      background-size: 80%;
      &:hover {
        height: auto;
      }
    }
  }
}