// Font weights
$thin:    300;
$light:   300;
$regular: 400;
$medium:  500;
$bold:    600;

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300italic,400,500,500italic,700italic);

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin text-shadow($color: #fff) {
  text-shadow: 0 1px 0 $color;
}

$font-stack: 'Fira Sans', Helvetica, sans-serif !default;
