// Font weights
$thin:    200;
$light:   300;
$regular: 400;
$medium:  500;
$bold:    600;

// Import Fira Sans
@font-face {
  src:          url('/fonts/FiraSans-Thin.otf');
  font-family: 'Fira Sans';
  font-style:   normal;
  font-weight:  $thin;
}

@font-face {
  src:          url('/fonts/FiraSans-ThinItalic.otf');
  font-family: 'Fira Sans';
  font-style:   italic;
  font-weight:  $thin;
}

@font-face {
  src:          url('/fonts/FiraSans-Light.otf');
  font-family: 'Fira Sans';
  font-style:   normal;
  font-weight:  $light;
}

@font-face {
  src:          url('/fonts/FiraSans-LightItalic.otf');
  font-family: 'Fira Sans';
  font-style:   italic;
  font-weight:  $light;
}

@font-face {
  src:          url('/fonts/FiraSans-Regular.otf');
  font-family: 'Fira Sans';
  font-style:   normal;
  font-weight:  $regular;
}


@font-face {
  src:          url('/fonts/FiraSans-Italic.otf');
  font-family: 'Fira Sans';
  font-style:   italic;
  font-weight:  $regular;
}

@font-face {
  src:          url('/fonts/FiraSans-Medium.otf');
  font-family: 'Fira Sans';
  font-style:   normal;
  font-weight:  $medium;
}

@font-face {
  src:          url('/fonts/FiraSans-MediumItalic.otf');
  font-family: 'Fira Sans';
  font-style:   italic;
  font-weight:  $medium;
}

@font-face {
  src:          url('/fonts/FiraSans-Bold.otf');
  font-family: 'Fira Sans';
  font-style:   normal;
  font-weight:  $bold;
}

@font-face {
  src:          url('/fonts/FiraSans-BoldItalic.otf');
  font-family: 'Fira Sans';
  font-style:   italic;
  font-weight:  $bold;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin text-shadow($color: #fff) {
  text-shadow: 0 1px 0 $color;
}

$font-stack: 'Fira Sans', Helvetica, sans-serif !default;